@import 'app/styles/fonts.scss';
@import 'app/styles/reset.scss';
@import 'shared/styles/var-and-mixin.scss';

html {
  color: $text_color;
  background: #faf9f9;

  @extend %body_text-big;
}

.wrapper {
  @extend %wrapper;
}

.main {
  padding: 80px 0;
  @extend %main;
}

.footer {
  @extend %footer;
}

.container {
  @extend %container;
}

.container-fluid {
  @extend %container-fluid;
}
