@import 'shared/styles/var-and-mixin';

.login-form {
  position: relative;
  width: 100%;
  max-width: 600px;
  padding: 80px 20px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 30px rgb(68 68 68 / 20%);

  &__close {
    position: absolute;
    top: 30px;
    right: 30px;
    background: inherit;
    border: none;
    cursor: pointer;
  }

  &__title {
    max-width: 385px;
    margin: 0 auto;
  }

  &__container {
    max-width: 385px;
    margin: 0 auto;
  }

  &__input {
    margin-top: 24px;

    &:first-child {
      margin-top: 40px;
    }
  }

  &__login-block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    border-bottom: 1px solid $text_color_transparent;
  }

  &__login-button {
    width: 150px;
  }

  &__restore-password {
    margin-left: 24px;
  }

  &__question {
    margin-top: 40px;
    text-align: center;
  }

  &__register-button {
    max-width: 215px;
    margin: 24px auto 0;
  }
}
