@import 'shared/styles/var-and-mixin';

.button {
  display: block;
  width: 100%;
  padding: 1px;
  text-decoration: none;
  border: none;
  border-radius: 46px;
  outline: none;
  cursor: pointer;

  &__icon {
    width: 12px;
    height: 12px;

    &-svg {
      fill: #976464;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 46px;
  }

  &__text {
    display: inline-block;
    width: fit-content;
    line-height: normal;
    border-radius: 46px;
  }

  &_height-standard {
    .button__text {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  &_height-short {
    .button__text {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  &_pink {
    background: $pink_gradient;

    .button__inner {
      padding-right: 0;
      padding-left: 0;
    }

    .button__text {
      color: #fff;
      font-family: $SpectralSC;
      //width: 100%;

      @extend %menu_title;
    }

    &:not(:active):focus-visible,
    &:not(:active):hover {
      background: $pink_gradient_hover;
    }

    &:active {
      .button__text {
        color: rgba(#976464, 0.8);
        background: #fff;
      }
    }
  }

  &_transparent {
    background: $text_color_transparent;

    .button__inner {
      background: #fff;
    }

    .button__text {
      color: $text_color_transparent;
      font-family: $SpectralSC;
      background: #fff;
      //width: 100%;

      @extend %menu_title;
    }

    &:not(:active):focus-visible,
    &:not(:active):hover {
      background: $pink_gradient;

      .button__text {
        background: $pink_gradient;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &:active {
      .button__inner {
        background: $pink_gradient;
      }

      .button__text {
        color: #fff;
        background: transparent;
      }
    }
  }

  &_with-icon {
    background: $text_color_transparent;

    .button__inner {
      background: #fff;
    }

    .button__text {
      margin-left: 8px;
      color: $text_color_transparent;
      font-size: 14px;
      font-family: $Montserrat;
    }

    &:not(:active):hover,
    &:not(:active):focus-visible {
      background: $pink_gradient_hover;

      .button__text {
        background: $pink_gradient_hover;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &:active {
      .button__inner {
        background: $pink_gradient;
      }

      .button__icon {
        &-svg {
          fill: #fff;
        }
      }

      .button__text {
        color: #fff;
      }
    }
  }
}
