@import 'shared/styles/var-and-mixin';

.personal-profile {
  &__widget {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 50px 60px;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(68, 68, 68, 0.05);
    border-radius: 20px;
  }

  &__sidebar {
    width: 300px;
    padding-right: 30px;
    border-right: 1px solid $text_color_transparent;
  }

  &__content {
    flex-grow: 1;
    padding-top: 32px;
    padding-left: 30px;
  }

  &__content-info {
    margin-top: 40px;
  }
}