@import 'shared/styles/var-and-mixin';

.product-switch {
  &__panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 518px;
    margin: 0 auto;
  }

  &__label {
    color: $text_color_lite;
    text-transform: uppercase;
    border: none;
    cursor: pointer;

    &_checked {
      @extend %pink_gradient_text;
    }

    @extend %title_big;
  }

  &__toggle {
    display: flex;
    width: 72px;
    height: 34px;
    background: #e9e9e9;
    border-radius: 65px;

    &_checked {
      justify-content: flex-end;
    }
  }

  &__handle {
    width: 34px;
    height: 34px;
    background: $pink_gradient;
    border-radius: 50%;
  }

  &__carousel {
    margin-top: 80px;
    padding: 0 20px;
  }
}
