@import 'shared/styles/var-and-mixin.scss';

.register-form {
  position: relative;
  border-radius: 20px;
  padding: 90px 20px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 0 30px rgba(68, 68, 68, 0.2);
  background: #FFF;

  &__close {
    position: absolute;
    right: 30px;
    top: 30px;
    border: none;
    background: inherit;
    cursor: pointer;
  }

  &__title {
    margin: 0 auto;
    max-width: 385px;
  }

  &__container {
    margin: 0 auto;
    max-width: 385px;
  }

  &__input {
    margin-top: 24px;
  }

  &__message {
    margin-top: 10px;

    @extend %body_text-small;
  }

  &__register-button {
    border-bottom: 1px solid $text_color-transparent;
    padding: 40px 0;
  }

  &__login-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 53px;
  }

  &__login-button {
    margin-left: 24px;
    width: 152px;
  }
}