@import 'shared/styles/var-and-mixin.scss';

.link-card {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 20px;
  width: 100%;
  height: 280px;
  max-width: 300px;
  box-shadow: 0 0 30px 0 rgba(68, 68, 68, 0.5);
  text-decoration: none;
  background: #FFF;

  &__info {
    padding: 35px 15%;
  }

  &__title {
    color: $text_color;

    @extend %title_medium;
  }

  &__price {
    margin-top: 5px;
    color: rgba(94, 92, 90, 0.8);
  }

  &__link {
    position: relative;
    z-index: 1;
    margin-top: 120px;
    font-weight: bold;
    text-align: right;
    text-decoration: none;
    color: #FFF;
  }

  &__photo {
    position: absolute;
    bottom: -20%;
    width: 300px;
    height: 220px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:hover {
    background: $green_gradient;

    .link-card__link {
      color: $text_color_lite;
    }
  }
}