@import 'shared/styles/var-and-mixin.scss';

$className: 'checkbox';

.#{$className} {
  &__label {
    position: relative;
    display: inline-block;
    padding-left: 22px;

    @extend %body_text-small;
  }

  &__text::before {
    content: '';
    position: absolute;
    left: 0;
    border: 0.9px solid #bdbdbd;
    border-radius: 3px;
  }

  &__input {
    appearance: none;
    opacity: 1;

    &:not(:disabled, :checked) + span:hover::before {
      border-color: $pink;
    }

    &:not(:disabled):checked + span:hover::before {
      border-color: $pink;
    }

    &:not(:disabled):focus-visible + span::before {
      box-shadow: 0 0 0 1px $pink;
    }

    &:checked + span::before {
      border-color: rgba($pink, 0.7);
      background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='6' height='6' viewBox='0 0 6 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.333008 3L2.33301 5L5.66634 1' stroke='url(%23paint0_linear_112_347)' stroke-width='0.666667' stroke-linecap='round' stroke-linejoin='round'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_112_347' x1='-0.820145' y1='-1.5' x2='6.7766' y2='0.742408' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23976464'/%3e%3cstop offset='1' stop-color='%23976464'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e ")
        center no-repeat;
    }

    &:disabled + span::before {
      background-color: rgb(0 0 0 / 40%);
    }
  }

  &_size-small {
    .#{$className} {
      &__text::before {
        top: 1px;
        width: 14px;
        height: 14px;
      }
    }
  }

  &_size-standard {
    .#{$className} {
      &__label {
        padding-left: 35px;

        @extend %body_text-medium;
      }

      &__text::before {
        top: 50%;
        border-radius: 6.5px;
        width: 30px;
        height: 30px;
        transform: translateY(-50%);
      }

      &__input {
        &:checked + span::before {
          border-color: rgba($pink, 0.7);
          background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='12' viewBox='0 0 6 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.333008 3L2.33301 5L5.66634 1' stroke='url(%23paint0_linear_112_347)' stroke-width='0.666667' stroke-linecap='round' stroke-linejoin='round'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_112_347' x1='-0.820145' y1='-1.5' x2='6.7766' y2='0.742408' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23976464'/%3e%3cstop offset='1' stop-color='%23976464'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e ")
            center no-repeat;
        }
      }
    }
  }
}
